#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=EveBox
Icon=applications-internet
Comment=Launch-EveBox-Web-Access
Exec=firefox-esr http://selks/evebox/
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=false

