#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=FirstTime-Setup.desktop
#Icon=preferences-other
Icon=system
Comment=SetupIDSInterface
Exec=/usr/bin/pkexec "/usr/bin/selks-first-time-setup_stamus" "$@"
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=true
X-KeepTerminal=true
