#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Setup-IDS-Interface
#Icon=preferences-other
Icon=system
Comment=SetupIDSInterface
Exec=/opt/selks/Scripts/Setup/setup-selks-ids-interface.sh
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=true


