#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Setup-IDS-Interface
#Icon=preferences-other
Icon=system
Comment=SetupIDSInterface
Exec=/usr/bin/pkexec "/usr/bin/selks-setup-ids-interface.sh" "$@"
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=true
X-KeepTerminal=true
