#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Upgrade-SELKS
#Icon=preferences-other
Icon=system
Comment=Upgrade SELKS
Exec=/usr/bin/pkexec "/usr/bin/selks-upgrade_stamus" "$@"
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=true
X-KeepTerminal=true
